.heading{
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    width: 100%;
    margin-top: 0;
}

.note{
    font-size: 15px;
    color: black;
}

canvas{
    border: 10; 
    border-color: grey;
    border-style: solid;
    box-shadow: 5px 5px 5px red;
}

.copy_right_footer{
    position: fixed;
    font-size: 20px;
    color: white;
    background-color: gray;
    bottom: 0;
    width: 100%;
    text-align: center;
    line-height: 3;
}